body {
    margin: 0;
    padding: 0;
    background-color: rgb(117, 41, 41);
    height: 100vh;
}
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color:  white;
    border-radius: 10px;
    padding-bottom: 10px;
}
div{
    padding-top: 20px;
}
@media (max-width: 768px) /* Creo que esa medida esta bien, no me acuerdo cual es exactamente */ {
    .formulario {
        width: 80%; 
    }
}
