body {
    margin: 0;
    padding: 0;
    background-color: rgb(117, 41, 41);;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:  white;
    border-radius: 10px;
    padding-bottom: 10px;
}
.formulario h1{
    text-align: center;
    padding: 20px;
    border-bottom: 20px blue;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .mail{
    position: relative;
    border-bottom: 2px blue;
    margin: 20px 0;
} 
form .ingreso{
    padding: 10px;
}
form .registro{
    padding: 15px;
}
form .recordar{
    padding-top: 10px;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    
}
.container{
    background-color: rgb(117, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

nav{
    background-color: rgb(117, 41, 41);
    padding: 10px;
    height: 10vh;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
.nav{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 24px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}

.Integrantes{
    color: beige;
    margin-left: 40px;
}

footer{
    position: fixed;
    bottom: 0;

}
@media (max-width: 768px) /* Creo que esa medida esta bien, no me acuerdo cual es exactamente */ {
    .formulario {
        width: 80%; 
    }
}